body {
    background-color: rgb(255, 196, 196);
}

fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
  }

img {
    border: 10px solid rgb(120, 117, 117);
}

a {
    color: mintcream;
}

