body {
     background-color: rgb(4, 48, 56);
}

h1 {
    color: lightgoldenrodyellow;
    font-size: 23px
  }

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(236, 240, 46);
    border: 2px solid powderblue;
    width: fit-content;
    padding: 30px;
    margin: 20px;
    background-color: steelblue ;
    font-size: 20px;
    text-align: inherit;
    }

img {
    background-color: rgb(70, 28, 12);
    width: 400px;
    border: 15px solid rgb(221, 122, 9);
    padding: 50px;
    margin: 40px;
  }
h2 {
    color: ivory;
    font-size: 28px
  }
td {
    font-style: italic;
    color: mintcream;
    left: 70%;
}
a {
    color: mintcream;
}