body {
    background-color: rgb(79, 184, 168);
}

img {
    border: 10px solid rgb(21, 134, 6);
}

td {
    font-style: italic;
    color: mintcream;
    left: 70%;
}

h2 {
    font-style: italic;
    color: wheat;
    left: 70%;
}
li {
    font-style: italic;
    color: rgb(207, 207, 207);
    left: 70%;
}


ul {
    font-family: sans-serif;
    color: rgb(2, 46, 46);
    border: 7px solid rgb(133, 163, 23);
    width: fit-content;
    padding: 30px;
    margin: 25px;
    background-color: rgb(11, 138, 28) ;
    font-size: 15px;
    text-align: inherit;
}

a {
    color: mintcream;
}